html,
body {
  margin: 0%;
}

.app-container {
  margin-top: 60px;
}

.app-content {
  min-height: 50vh;
  padding: 10px;
  margin-left: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#expan {
  width: max-content;
  background-color: lightgray;
}
